.Link {
  color: #ff9f1c;
  text-decoration: underline;
}

.Link:hover {
  cursor: pointer;
}

.large {
  display: inline-flex;
  font-size: 22px;
  margin: 1px;
  padding: 1px;
}

.medium {
  display: inline-flex;
  font-size: 16px;
  margin: 1px;
  padding: 1px;
  text-align: left;
}

.small {
  display: inline-flex;
  font-size: 14px;
  margin: 1px;
  padding: 1px;
}

.mainTxtColor {
  color: var(--main-txt-color);
}