body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  --accent-color: #1564ad;
  --text-color: #030301;
  --background-color: #f8f8ee;
  --link-color: #5ca9cf;

  text-align: center;
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--background-color);
}

.title {
  margin: 0
}

.certs {
  text-align: start; 
  align-items: start; 
  justify-content: start;
}

@media (max-width: 1280px) { 

  /* mobile / tablet */

  .title {
    font-size: 15vmin;
  }

  .left {
    min-width: 95vw;
    max-width: 95vw;
  }

  .right {
    min-width: 95vw;
    max-width: 95vw;
  } 

}

@media (min-width: 1280px) {

  /* desktop */

  .title {
    font-size: 7vmin;
  }

  .content {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    
  }

  .left {
    min-width: 600px;
    max-width: 600px;
    margin-right: 20px;
  }
  
  .right {
    min-width: 600px;
    max-width: 600px;
    margin-left: 20px;
  }

  
}

.phone {
  color: var(--text-color);
}

@media print {

  .phone {
    color: black;
  }


  .App {
    --accent-color: #ff8585;
    background: #fff;
    color: black;
    font-size: 19px;
  }
}

.tile {
  text-align: start;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  margin-right: 50;
  margin-left: 50;
}

.align {
  display: inline-block;
}

ul {
  text-align: start;
  align-items: start;
  justify-content: start;
  padding: 0;
}

h3, h5 {
  text-align: start; 
  color: var(--accent-color);
  margin-bottom: 5px;
}

h5 {
  display: inline-flex;
  margin: 2px;
  padding: 2px;
}

hr {
  height: 1px;
  width: 100%;
  border-width:0 ;
  color: var(--accent-color);
  background-color: var(--accent-color);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 50vh;
}